.confirm_booking_main{
  .confirm_booking_all_content{
    .confirmForm_main{
        border-radius: 1rem;
        padding: 15px 25px;
        .confirm_booking_title{
            h1{
                margin: 0;
                margin-bottom: 12px;
            }
        }
    }
  }
}