.login_Area_main {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    .loginAllContent{
        .login_right_area{
            .LoginBox {
                padding: 35px 50px;
                .login_title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;
                    h2 {
                        margin: 0;
                        font-size: 4vh;
                        margin-left: 12px;
                    }
                }
                .form {
                    .MuiFormControl-root {
                    width: 100%;
                    margin-bottom: 10px;
                }
                }
            }
        }
    }
    .login_shape {
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        transform: rotate(0deg);
        svg {
            width: 100%;
            height: 315px;
        }
    }
    
}

.register_name_area {
    display: flex;
    .MuiFormControl-root{
        margin-right: 10px;
        &:last-child{ margin-right: 0px;}
    }
}
.date_gender {
    display: flex;
    .MuiFormControl-root{
        margin-right: 10px;
        &:last-child{
            margin-right: 0px;
            border: 0.1rem solid #c3baba;
            border-radius: 4px;
            .MuiFormGroup-root {
                margin-left: 26px;
                margin-top: 5px;
            }
        }
    }
}

.auth-form__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}


@media screen and (max-width:'600px'){

    .login_Area_main {
        height: auto;
        .loginAllContent {
            .login_right_area {
                &.loginOpen {
                    height: 55rem;
                    transform: translate(0px, 28vh);
                }
                &.registerOpen {
                    height: 55rem;
                    transform: translate(0px, 17vh);
                }
                .LoginBox {
                    padding: 35px 18px;
                }
            }
        }
    }
    .register_name_area {
        flex-direction: column;
        .MuiFormControl-root{
            margin-right: 0px;
        }
    }
    .date_gender {
        flex-direction: column;
        .MuiFormControl-root{
            margin-right: 0px;
            &:last-child{
                margin-right: 0px;
                border: 0.1rem solid #c3baba;
                border-radius: 4px;
                .MuiFormGroup-root {
                    margin-left: 11px;
                    margin-top: 4px;
                    transform: translate(0px, -2px);
                }
            }
        }
    }
}