.rooms_area_main {
    height: 100vh;
    .rooms_all_content {

        .roomMainAllContent{
            .roomMainContentHeader {
                border-bottom: 0.1rem solid;
                display: flex;
                justify-content: flex-end;
            }
            .roomMainContent {
                margin-left: 15px;
                margin-top: 15px;
            }
        }



        .roomFilters{
            form.filters_form {
                border-right: 1px solid;
                padding-top: 18px;
                legend.filters_item_title {
                    margin-bottom: 10px;
                    font-size: 17px;
                }
                .filters_item {
                    border-bottom: 1px solid;
                    padding-bottom: 14px;
                    margin-bottom: 21px;
                    .checkbox-list{
                        list-style: none;
                        padding: 0 20px 0 0;
                        margin: 0;
                        .checkBoxLabel {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            p{
                                margin: 0;
                            }
                        }
                     }                     
                }
            }
            .filterTitle{
                border-bottom: 0.1rem solid;
                padding-bottom: 18px;
                p{
                    color: rgb(135, 135, 135);
                    margin: 0;
                    font-size: 15px;
                    margin-top: 8px;
                }
            }
        }
    }
}

.priceRangeMainArea {
    margin: 0px 15px 0 0;
    .priceRangeHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            font-size: 13px;
            margin-top: 0px;
        }
        h3 {
            margin: 0;
            font-size: 19px;
        }
    }
}

.filterDate{
    margin-right: 20px;
    .dateOfStay {
        .MuiFormControl-root{
            width: 100%;
        }
        &.Check_in {
            margin-bottom: 15px;
        }
        p {
            margin: 0;
        }
    }
}
.guest_count{
    .guestMain {
        display: flex;
        justify-content: space-between;
        span{
           small{
            display: none;
           }
        }
    }
    .guestTitle{
        margin: 0;
        margin-bottom: 5px;
    }
}

@media screen and (max-width:'600px'){
    .rooms_area_main {
        .room_main_grid {
            display: flex;
            flex-direction: column-reverse;
        }
        .rooms_all_content {
            .roomMainAllContent{
                .roomMainContent {
                    margin-left: 0px;
                    margin-top: 0px;
                }
            }    
            .roomFilters{
                form.filters_form {
                    border-right: 0;
                    .filters_item {
                        .checkbox-list{
                            padding: 0 0px 0 0;
                         }                     
                    }
                }

            }
            .roomMainAllContent{
                .roomMainContentHeader {
                    border-bottom: 0.1rem solid;
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 16px;
                    margin-bottom: 19px;
                }
            }
        }
    }
    .filterDate{
        margin-right: 0px;
    }
    .priceRangeMainArea {
        margin: 0px 10px 0 0;
    }
}