.thumbnail_image_main{
    .single_room-slider{
        position: relative;
        .room-type-badge {
            position: absolute;
            right: 8px;
            z-index: 1;
            top: 8px;
            background-color: rgb(92, 152, 242);
            padding: 7px 17px;
            color: #fff;
            border-radius: 7px;
        }
        .thumbnail_main_image{
            position: relative;
            width: 100%;
            height: 50vh;
        }
        &:hover{
            .slick-arrow{
                opacity: 1;
            }
        }
    }
    
    .room_slider {
        .side_item_image {
            position: relative;
            height: 70px;
            border: 2px solid transparent;
            cursor: pointer;
    
            img {
                opacity: 0.5;
                transform: transition(all 0.4s ease);
            }
    
           &:last-child {
                margin-bottom: 0;
            }
 
            &:hover {
                img {
                    opacity: 1;
                }
            }
        }
    
        .slick-current {
            .side_item_image {
                border-color: rgb(92, 152, 242);
                img {
                    opacity: 1;
                }
            }
        }
    }
}