.account_main{
    .account_all_content{
        .sideBar_main{
            height: 100vh;
            position: sticky;
            top: -75px;
            .sidebar_all_menu{
                .sidebar_menu_item{ 
                    margin-bottom: 4px;
                    &.active{
                      background-color: green;
                      color: #fff;
                    //   border-top-left-radius: 100px;
                    //   border-bottom-left-radius: 100px;
                    }
                  }
            }

        }
    }
}

@import 'dashboard';
@import 'profile';
@import 'myReview';
@import 'booking';