 .myBooking_main{
    .myBooking_title{
        display: flex;
        justify-content: space-between;
        h2{
            margin: 0;
        }
    }
}
.booking_content{
     .myBooking_content_box{
        .bookingTimes{
            margin-bottom: 15px;
        }
        .Booking_Information {
            margin-bottom: 20px;
            .booking-info {
                border-collapse: collapse;
                .booking-info__body tr > td {
                    padding: 10px;
                    border: 1px solid rgba(31, 32, 65, 0.5);
                    width: 50%;
                }
            }
            h3 {
                margin: 0;
                margin-top: 16px;
                margin-bottom: 7px;
            }
            .booking_status_bar {
                margin: 20px 0;
                .booking_status_list {
                    margin-top: 15px;
                }
            }
        }
        .price_and_details {
            display: flex;
            justify-content: space-between;
            padding: 25px 25px 20px;
            border-radius: 4px;
            margin-top: 35px;
            .booking_pricing {
                width: 50%;
                h3{
                    margin: 0;
                    margin-bottom: 9px;
                }
                .bookingPrice {
                    margin-top: 0px;
                }
            }
            .Billing_Address_payment_method {
                .billing_main {
                    .billing_content{
                        h3 {
                            margin: 0;
                            margin-bottom: 9px;
                        }
                        p {
                            margin-bottom: 2px;
                        }
                    } 
                    .paymentMethod {
                        margin-top: 30px;
                        h3 {
                            margin: 0;
                            margin-top: 11px;
                            margin-bottom: 7px;
                        } 
                    }                
                }
            }
        }
     
     }   
}
