
@font-face {
  font-family: dm;
  src: local('dm'), url('../../public/static/fonts/DMSerifDisplay-Regular.ttf');
}
@font-face {
  font-family: dms;
  src: local('dms'), url('../../public/static/fonts/DMSans-Regular.ttf');
}
