.review_main{
    border: 1px solid;
    padding: 15px 24px;
    border-radius: 1rem;
    .room-info_card {
        span {
            font-size: 40px;
        }
        text-align: center;
        h2 {
            margin: 0;
            font-size: 22px;
        }
        .room-info_card-rating_title {
            margin-left: 11px;
        span{
            &:first-child {
            display: inline-block;
            font-size: 36px;
            font-weight: 800;
         }
            &:last-child {
            width: 53px;
            display: inline-block;
            line-height: 16px;
            margin-left: 5px;
            font-size: 15px;
         }     
       }
      }
    }
    
    .review_main_title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .title_main{
            display: flex;
            align-items: center;
            h2{
                margin: 0;
                margin-right: 10px;
                font-size: 22px;
            }
        }
        p {
            line-height: 33px;
        }
       
        
    }
    .review_list_main {
        margin-bottom: 30px;
        max-height: 425px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
.review_list_contents{ 
    .review_list{
        .list_box {
            .list_content_top{
                display: flex;
                justify-content: space-between;
                margin-bottom: 19px;
                .review_user_avatar{
                    display: flex;
                    align-items: center;
                    h4 {
                        margin: 0;
                        margin-left: 18px;
                    }
                }
                .review_rating {
                    span {
                        line-height: 40px;
                        display: inline-block;
                    }
                }
            }
            .list_content_center{
                margin-bottom: 5px;
                p {
                    font-size: 13px;
                    font-size: 13px;
                    span{
                        color: #01875f;
                        font-weight: 700;
                    }
                }
            }
            .review_content_info {
                position: relative;
                .name_content{
                    padding: 10px 11px;
                    display: inline-block;
                    p{
                        font-size: 0.875rem;
                    }
                }
                .likes_main{
                    margin-top: 10px;
                    .likes_title{
                        p {
                            font-size: 13px;
                        }
                    }
                    .newLikesRequest_menu{
                        display: flex;
                        justify-content: space-between;
                        .newLikesRequest {
                            margin-top: 3px;
                            display: flex;
                            align-items: center;
                            p {
                                font-size: 13px;
                                margin-right: 13px;
                            }
                            .like-button_content {
                                display: flex;
                                align-items: center;
                                span{
                                    margin-left: 7px;
                                    font-size: 14px;
                                }
                            }
                        }
                        .reviewOptionsIcon{
                            
                        }
                    }
                }
            }
        }
    }
}
.reviewForm {
    form{
        .MuiFormControl-root{
            margin-bottom: 13px;
        }
    }
    .review_form_title{
        margin-bottom: 12px;
        h2{
            margin: 0;
            font-size: 22px;
            line-height: 18px;
            margin-bottom: 7px;
        }
        p {
            font-size: 12px;
            margin-top: 4px;
        }
    }
}
.rating-wrapper {
    display: flex;
    align-items: center;
    .rating-feedback {
        margin-left: 12px;
        font-size: 15px;
    }
    legend.rating-label {
        margin-right: 5px;
    }
}

.review_edit_form {
    margin-top: 16px;
    form{
        .MuiFormControl-root{
            margin-bottom: 9px;
        }
    }
    .edit_review_action {
        margin-top: 0px;
        text-align: end;
    }
}


@media screen and (max-width:'600px') {
    .review_main{
        border:none !important;
        padding: 0;
        .review_list_main {
            &::-webkit-scrollbar {
                display: block;
            }
        }
        .room-info_card {
            text-align: center;
            .room-info_card-rating_title {
                margin-left: 0;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                border-radius: 51%;
                width: 32%;
                height: 108px;
                padding: 14px 18px 16px;
                margin: auto;
                margin-bottom: 8px;
                margin-top: 6px;
                span{
                    &:first-child {
                        display: block;
                        font-size: 27px;
                    }
                    &:last-child {
                        width: 100%;
                        display: block;
                        line-height: 16px;
                        margin-left: 0px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}